*,
*::before,
*::after { 
	box-sizing: border-box;
}
span {
	/* we want our input box to be able to shrink, even if it has no spaces */
	line-break: anywhere;
}
input:focus-within {
	outline-color: var(--error-border);
}
span,
label {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
label {
	min-width: 100%;
	font: inherit;
}
label input:focus,
label input {
	outline: 1px dotted;
	padding-inline: 3px;
}
span:after,
label::after,
input {
	width: 100%;
	min-width: 0;
	font: inherit;
	padding: 0px;
	margin: 0;
	resize: none;
	background: none;
	border: none;
}
span::after,
label::after {
	content: attr(data-value);
	visibility: hidden;
	white-space: pre-wrap;
	height: 0;
	padding-inline: 3px;
}
label input:invalid {
	outline-color: var(--error-border);
}
input:focus {
	outline: none;
}
input[type=password]:not(:placeholder-shown),
label:after {
	font-family: 'password-placeholder';
}
[list]::-webkit-calendar-picker-indicator {
	display: none !important;
}
